<div class="container">
  <app-navigation-bar></app-navigation-bar>
  <div class="image-text-container">
    <div class="content-section">
      <h1>The new way to get a headstart on your productivity</h1>
      <h1 class="logo-text logo-large">Intrelligence</h1>
      <h1>helps you do more, be more, and achieve more</h1>
      <button mat-button class="sign-up-btn-big" routerLink="/signUp">Sign up today</button>
    </div>
    <img class="bg" src="./../../../assets/big-image.jpg">
    <div class="row"></div>
  </div>
  <app-info-box-1></app-info-box-1>
  <app-info-box-2></app-info-box-2>
</div>